In [2]:
from math import *
import pandas as pd
import numpy as np

In [3]:
Taux_de_croissance_Amerique_du_nord = pd.read_csv('../Data/Donnee_monde/GDP_growth_Amerique_du_nord/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)

In [4]:
Taux_de_croissance_Afrique_sub_sahara = pd.read_csv('../Data/Donnee_monde/GDP_growth_Sub_sahara/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Asie_Est = pd.read_csv('../Data/Donnee_monde/GDP_growth_Asia_Est/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Asie_Sud = pd.read_csv('../Data/Donnee_monde/GDP_growth_Asia_South/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Moyen_orient_Afrique_Nord = pd.read_csv('../Data/Donnee_monde/GDP_growth_Moyen_orient_afrique_du_nord\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_chomage_Asie_Sud = pd.read_csv('../Data/Donnee_monde/Taux_de_chomage_Asie_du_sud/API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
Taux_de_chomage_Amerique_du_nord = pd.read_csv('../Data/Donnee_monde/Taux_de_chomage_Amerique_du_nord/API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
Taux_de_chomage_Amerique_du_sud = pd.read_csv('../Data/Donnee_monde/Taux_de_chomage_Amerique_du_sud/API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
IDE_Amerique_du_nord = pd.read_csv('../Data/Donnee_monde/IDE_Amerique_du_nord/API_BX.KLT.DINV.WD.GD.ZS_DS2_en_csv_v2_5179098.csv', sep=',', skiprows=4)
IDE_sub_sahara = pd.read_csv('../Data/Donnee_monde/IDE_sub_sahara/API_BX.KLT.DINV.WD.GD.ZS_DS2_en_csv_v2_5179098.csv', sep=',', skiprows=4)
Inflation_Amerique_du_nord = pd.read_csv('../Data/Donnee_monde/Inflation_Amerique_du_nord/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_5180386.csv', sep=',', skiprows=4)

In [5]:
Stringency_Index = pd.read_csv('../Data/Donnee_monde/owid_covid_data.csv', sep=',')
Stringency_Index

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295830,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295831,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295832,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295833,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295834,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [6]:
list(Stringency_Index)

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'stringency_index',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'population',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative',
 'excess_mortality',
 'excess_mortality_cumulative_per_million']

In [7]:
Stringency_Index.groupby([Stringency_Index['location'] == 'Afghanistan'])['stringency_index'].unique()[True][:100]
print(Stringency_Index.groupby([Stringency_Index['location'] == 'Afghanistan'])['stringency_index'].unique()[True][:100]
)

[  nan  0.    8.33 27.78 38.89 41.67 50.93 59.26 67.59 78.7  84.26 75.
 71.3  60.19 48.15 28.7  25.   16.67  9.26 12.04 30.56 26.85 54.63 36.11
 43.52 46.3  56.02 52.31 22.22 18.52 42.59 35.19 19.44 11.11  5.56  2.78]

In [8]:
print(Stringency_Index.groupby([Stringency_Index['location'] == 'France'])['new_cases'].unique()[True][:100])

[0.000e+00 3.000e+00 1.000e+00 5.000e+00 2.000e+00 2.100e+01 1.900e+01
 4.300e+01 3.000e+01 4.800e+01 3.100e+01 7.300e+01 1.330e+02 1.900e+02
 1.010e+02 4.100e+02 2.860e+02 3.720e+02 4.960e+02 5.860e+02 7.780e+02
 8.300e+02 9.160e+02 1.202e+03 1.075e+03 1.387e+03 1.840e+03 1.571e+03
 1.841e+03 1.525e+03 3.810e+03 2.412e+03 2.897e+03 3.846e+03 3.748e+03
 4.611e+03 2.491e+03 4.341e+03 7.500e+03 4.784e+03 2.066e+03 5.209e+03
 4.221e+03 1.850e+03 3.881e+03 3.737e+03 3.869e+03 4.256e+03 4.333e+03
 3.104e+03 1.595e+03 2.669e+03 5.483e+03 2.621e+03 2.623e+03 3.850e+02
 2.558e+03 7.420e+02 2.050e+03 2.638e+03 1.810e+03 1.623e+03 1.755e+03
 1.537e+03 4.040e+02 1.160e+03 1.025e+03 1.601e+03 1.055e+03 6.010e+02
 7.360e+02 2.500e+02 5.340e+02 1.050e+03 4.176e+03 5.120e+02 5.980e+02
 4.300e+02 6.500e+01 8.630e+02 9.770e+02 9.850e+02 2.130e+02 1.110e+03
 9.630e+02 1.027e+03 1.310e+02 7.610e+02 2.260e+02 6.920e+02 6.890e+02
 6.490e+02 5.870e+02 5.520e+02 3.160e+02 1.260e+02 1.220e+02 5.540e+02
 5.720e+02 5.480e+02]

In [9]:
print(Stringency_Index.groupby([Stringency_Index['location'] == 'France'])['hosp_patients'].unique()[True][:100])

[   nan  2972.  4073.  5226.  5900.  6954.  8673. 10163. 12072. 13879.
 15701. 17580. 19311. 20946. 22672. 24543. 26131. 27302. 28003. 28747.
 29569. 29871. 30217. 30608. 31108. 31159. 31665. 31952. 32131. 31623.
 31172. 31061. 30515. 30486. 30462. 29984. 29627. 29113. 28554. 28119.
 28114. 27954. 27607. 26736. 26192. 25809. 25751. 25739. 25472. 24701.
 23912. 23139. 22657. 22547. 22502. 22219. 21530. 21009. 20401. 19801.
 19372. 19302. 18956. 18409. 17882. 17527. 17327. 17122. 17129. 16742.
 16209. 15627. 15155. 14643. 14329. 14271. 14237. 13978. 13465. 13054.
 12650. 12433. 12415. 12269. 11915. 11632. 11420. 11079. 10864. 10836.
 10707. 10490. 10222. 10080.  9925.  9792.  9778.  9648.  9446.  9254.]

In [10]:
print(Stringency_Index.groupby([Stringency_Index['location'] == 'France'])['new_people_vaccinated_smoothed_per_hundred'].unique()[True][:100])

[  nan 0.001 0.003 0.005 0.011 0.019 0.021 0.022 0.03  0.042 0.053 0.064
 0.071 0.073 0.074 0.084 0.098 0.113 0.129 0.14  0.144 0.142 0.136 0.122
 0.116 0.114 0.108 0.102 0.095 0.086 0.081 0.079 0.078 0.077 0.076 0.08
 0.075 0.07  0.067 0.063 0.062 0.065 0.082 0.089 0.105 0.117 0.13  0.149
 0.182 0.206 0.215 0.23  0.243 0.26  0.279 0.284 0.272 0.283 0.276 0.27
 0.255 0.241 0.227 0.224 0.25  0.309 0.336 0.342 0.344 0.351 0.358 0.36
 0.354 0.338 0.326 0.324 0.294 0.28  0.311 0.328 0.365 0.384 0.391 0.376
 0.371 0.37  0.364 0.352 0.343 0.333 0.325 0.332 0.348 0.362 0.378 0.373
 0.392 0.399 0.405 0.409]

In [10]:
Stringency_Index[['stringency_index', 'new_cases', 'hosp_patients']], type(Stringency_Index[['stringency_index', 'new_cases', 'hosp_patients']])
test

(        stringency_index  new_cases  hosp_patients
 0                    NaN        0.0            NaN
 1                    NaN        0.0            NaN
 2                    NaN        0.0            NaN
 3                    NaN        0.0            NaN
 4                    NaN        0.0            NaN
 ...                  ...        ...            ...
 295830               NaN       13.0            NaN
 295831               NaN        6.0            NaN
 295832               NaN        0.0            NaN
 295833               NaN        0.0            NaN
 295834               NaN        0.0            NaN

 [295835 rows x 3 columns],
 pandas.core.frame.DataFrame)

In [11]:
Stringency_Index

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295830,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295831,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295832,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295833,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295834,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [12]:
Stringency_Index.groupby(['location'])['stringency_index'].mean().unique()

array([27.92973023,         nan, 42.59831628, 52.92429767, 34.08772093,
       52.2088186 , 53.45413953, 38.99749767, 48.11901395, 50.03847442,
       61.05645581, 56.86024186, 39.35825116, 50.94444651, 48.77785116,
       23.81506977, 40.82859535, 48.95185116, 32.20386047, 40.83536744,
       52.0476093 , 43.11910698, 39.43837209, 37.09516279, 49.49085581,
       40.10221395, 36.87410233, 20.89527442, 16.15957209, 46.12175814,
       32.1579814 , 51.29404651, 47.46534884, 24.37042791, 36.82133023,
       52.39076279, 71.47002791, 51.64713488, 44.38142326, 44.15307907,
       25.36235349, 34.2264    , 49.42787907, 46.52345116, 40.25862326,
       38.1632    , 35.98530233, 40.61886512, 40.61938605, 45.92154419,
       50.27250233, 44.11837209, 42.21842791, 32.67185116, 49.53273488,
       45.91717209, 28.08672558, 55.07908837, 36.18257674, 43.09853953,
       47.99232558, 33.52602791, 45.29059535, 46.97628837, 43.41323721,
       54.10451163, 31.38162791, 29.43528736, 54.49924651, 53.79129302,
       53.20850233, 45.0123814 , 64.07542326, 59.16669794, 35.77410233,
       31.11212093, 58.9955814 , 55.4140186 , 60.49586977, 59.52093023,
       43.5083814 , 44.12897674, 53.30565581, 55.42737674, 41.10778605,
       42.33813953, 52.24228837, 52.55138605, 25.68580465, 49.34569302,
       50.59543256, 47.05870698, 47.18349767, 36.13030698, 52.87627907,
       44.75316279, 46.01135814, 57.88498605, 33.64828837, 36.72305116,
       38.41796279, 35.93757225, 39.0395907 , 43.19470698, 50.09556279,
       38.27563721, 40.68048372, 36.97342326, 34.97629767, 45.11731163,
       41.96667907, 37.32333953, 43.87631628, 54.84648372, 44.69516279,
       64.97950698, 35.90220465, 52.74498605, 43.73491163, 35.50019535,
       11.55530233, 21.68308837, 41.57784186, 36.32610233, 47.18179535,
       53.27613953, 52.64634419, 50.94570233, 46.08179535, 44.5332    ,
       54.66253953, 59.62429767, 40.56962791, 44.55382326, 53.51575814,
       43.38778605, 42.0219907 , 54.76701395, 38.76451163, 46.46155349,
       31.48163721, 38.05588837, 46.94580465, 43.56791628, 44.18006512,
       39.74132093, 41.37396279, 37.26987907, 30.46877209, 44.712     ,
       41.57143256, 40.52258605, 46.3124    , 52.06381395, 29.71696744,
       55.28455307, 37.39731163, 35.52506977, 38.2451814 , 30.27099535,
       28.41923721, 15.18884651, 44.39186047, 38.08807442, 44.38338605,
       46.49618605, 53.15781395, 50.33363721, 43.4604    , 54.80951628,
       43.80589767, 45.10057674, 43.89986977, 49.372     , 38.20309767,
       39.58139535, 29.8167907 , 56.27979535, 55.75102326, 26.84626047,
       30.28340465, 59.40300465])

In [13]:
type(Stringency_Index[['stringency_index']])
Stringency_Index['stringency_index'].unique()

array([  nan,  0.  ,  8.33, ..., 11.62, 11.61, 14.82])

In [14]:
Taux_de_croissance_Afrique_sub_sahara['Country Name'].describe()

count       266
unique      266
top       Aruba
freq          1
Name: Country Name, dtype: object

In [15]:
Taux_de_croissance_Afrique_sub_sahara['Country Name'].value_counts(dropna=False)

Aruba                   1
Oman                    1
Malawi                  1
Malaysia                1
North America           1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: Country Name, Length: 266, dtype: int64

In [16]:
Taux_de_croissance_Afrique_sub_sahara['2019'].describe(percentiles=[0.1, 0.9])

count    252.000000
mean       2.780237
std        3.194262
min      -11.195695
10%       -0.195627
50%        2.558767
90%        5.798392
max       23.513791
Name: 2019, dtype: float64

In [17]:
#Taux de croissance
list(Taux_de_croissance_Amerique_du_nord)
Taux_de_croissance_Amerique_du_nord[['Country Name', '1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']]

,Country Name,1961,1970,1980,1990,2000,2005,2010,2015,2018,2019,2020,2021
0,Aruba,NaN,NaN,NaN,3.961402,7.616589,-0.384927,-2.732596,3.543630,5.257856,0.635029,-18.589100,17.172509
1,Africa Eastern and Southern,0.237304,4.693699,5.415324,-0.032630,3.353978,6.116924,5.197137,2.895728,2.610797,2.038299,-3.042653,4.402447
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,11.229715,14.362441,1.451315,1.189228,3.911603,-2.351101,-20.737146
3,Africa Western and Central,1.835056,17.963209,2.013532,6.600199,3.743667,5.852892,6.965427,2.745137,2.946175,3.190879,-0.900382,3.965399
4,Angola,NaN,NaN,NaN,-3.450099,3.054624,15.030000,4.860000,0.940000,-1.316312,-0.700000,-5.600000,1.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,4.939924,5.916270,3.406631,4.756831,-5.340275,10.745612
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,6.181916,5.591748,7.702307,-27.994546,0.752448,NaN,NaN,NaN
263,South Africa,3.844734,5.248661,6.620583,-0.317760,4.200000,5.277052,3.039733,1.321862,1.522329,0.303453,-6.342471,4.913097
264,Zambia,1.361382,4.797113,3.035622,-0.481072,3.897323,7.235599,10.298223,2.920375,4.034494,1.441306,-2.785055,4.598734
265,Zimbabwe,6.316157,22.565151,14.420684,6.988553,-3.059190,-5.711084,21.452061,2.023650,5.009867,-6.332446,-7.816951,8.468017

In [18]:
print(Taux_de_croissance_Amerique_du_nord.groupby([Taux_de_croissance_Amerique_du_nord['Country Name'] == 'North America'])[['1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']].mean())

                  1961      1970      1980      1990      2000      2005  \
Country Name
False         3.333106  7.541664  3.268974  3.433232  4.348090  5.035631
True          2.301159 -0.279734 -0.251883  1.884972  4.164394  3.460551

                  2010      2015      2018      2019      2020      2021
Country Name
False         4.550285  2.781294  3.133748  2.782305 -4.507016  5.096769
True          2.736369  2.541510  2.930990  2.261148 -2.962388  5.837766

In [19]:
print(Taux_de_croissance_Afrique_sub_sahara.groupby([Taux_de_croissance_Afrique_sub_sahara['Country Name'] == 'South Africa'])[['1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']].mean())

                  1961      1970      1980      1990     2000      2005  \
Country Name
False         3.320453  7.501891  3.228066  3.443925  4.34794  5.028394
True          3.844734  5.248661  6.620583 -0.317760  4.20000  5.277052

                  2010      2015      2018      2019      2020      2021
Country Name
False         4.549086  2.786095  3.139316  2.790104 -4.493387  5.100575
True          3.039733  1.321862  1.522329  0.303453 -6.342471  4.913097

In [20]:
print(Taux_de_croissance_Asie_Est.groupby([Taux_de_croissance_Asie_Est['Country Name'] == 'Japon'])[['1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']].mean())

                  1961      1970     1980      1990      2000      2005  \
Country Name
False         3.324716  7.485796  3.24814  3.425752  4.347321  5.029381

                  2010      2015     2018      2019      2020      2021
Country Name
False         4.543144  2.780353  3.13295  2.780237 -4.500813  5.099806

In [21]:
print(Taux_de_croissance_Asie_Sud.groupby([Taux_de_croissance_Asie_Sud['Country Name'] == 'Indonesia'])[['1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']].mean())

                  1961      1970      1980      1990      2000      2005  \
Country Name
False         3.304913  7.485301   3.20795  3.407313  4.344915  5.026739
True          5.740646  7.554635  10.00000  7.224335  4.920068  5.692571

                  2010      2015      2018      2019      2020      2021
Country Name
False         4.536501  2.772101  3.124882  2.771316 -4.510635  5.105603
True          6.223854  4.876322  5.174292  5.019288 -2.065005  3.691240

In [22]:
print(Taux_de_croissance_Moyen_orient_Afrique_Nord.groupby([Taux_de_croissance_Moyen_orient_Afrique_Nord['Country Name'] == 'Tunisia'])[['1961', '1970', '1980', '1990', '2000', '2005', '2010', '2015', '2018', '2019', '2020', '2021']].mean())

                  1961      1970      1980      1990      2000      2005  \
Country Name
False         3.324716  7.506057  3.223315  3.403791  4.345797  5.035528
True               NaN  4.669632  7.418740  7.949819  4.709973  3.486546

                  2010      2015      2018      2019      2020      2021
Country Name
False         4.549357  2.787491  3.135095  2.785324 -4.484199  5.103004
True          2.971133  0.967497  2.590367  1.503428 -8.621135  4.322776